<h1>Welcome to Bustle Admin Page</h1>
{{new-article save="save"}}
<ul>
  {{#each model as |article|}}
    {{admin-article-tile article=article destroyArticle="destroyArticle" update="update"}}
  {{/each}}
</ul>
